# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Populated via Github app setup
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Get an API key via openai
CHAT_GPT_API_KEY=

# For Pub/Sub
PUBSUB_HOST=http://localhost:8085
TOPIC_NAME=review-suggestions
PROJECT_ID=reviewbot
